<html lang="en-us">

<head>
<style>
    html {
        scroll-behavior: smooth;
    }
</style>
    
  <meta charset="UTF-8">
  <title>Project Whine</title>
  <!-- bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>


  <!-- HEADER -->
<div id="container">
	<div id="header-container">
		<section class="header">
			<div class="column">
				<a href="index.html"><img src="static/drawing.svg" width="250px"></a></div>
			<div class="column">
				<h1 class="display-4"> Analyzing the Language of <strike>Wine</strike> <strike>Coffee</strike> <strike>Ramen</strike> Hotel Reviews </h1></div>
				
		</section>
		<section class="header2">
		<h1 class="display-5"><a href="https://techbootcamps.rice.edu/data/">A Rice University Data Analytics & Visualization Project</a></h1>

		</section>
	</div>


  <!-- SIDE MENU -->
<nav class="menu">
	<ul>
		<li><a href="index.html">About This Project</a></li>
		<li><a href="">API</a></li>
		<li><a href="map.html">Map</a></li>
		<li><a href="geography.html">Analysis, Geography</a></li>
		<li><a href="rating.html">Analysis, Ratings</a></li>
		<li><a href="conclusions.html">Conclusions</a></li>		
		<li><a href="source.html">Source</a></li>
							
	</ul>
</nav>


  <!-- BODY TEXT -->

<section class="main">

	<p>
	Guest reviews are becoming a prominent factor affecting people’s bookings/purchases.When you were looking for a place to stay for a vacation or purchase anything online, what did you do? You checked the reviews before you made your decision. Guest reviews clearly influence people’s booking decision, which means, you will need to take notice to what people are saying about the hotel!
	</p>

	<div class="center-b">
	<img src="static/tripadvisorlogo.png" width="70%" class="center">
	</div>
	<br>

	<p>
	<a href="https://www.tripadvisor.com/">TripAdvisor</a> is a travel planning website that specializes in hosting extensive information for accommodations and amenities for anyone planning a trip. The site also hosts user-generated reviews for those accommodations, providing reviews and feedback. For this project, hotel reviews were aggregated to provide bulk analysis regarding the language used. The purpose of gathering and analyzing these reviews is to observe any patterns or common sentiments among the language used when examined in aggregate.
	</p>
	
	<p>Hence, as a business owner, not only do you want good reviews, but also want them in a way that can help you learn the most about your customers. Reviews can tell you if you are keeping up with your customers’ expectations, which in turn can help you keep you have a successful business. If you are a customer, reviews are important to you to make the best choice based on your requirements. </p>
	
	<br>
	
	<div class="center-b">
	<img src="static/review example 1.PNG" width="100%" class="center">
	</div>
	<p class="i3">Example of user generated review, along with 1-5 rating</p>
	<br>

	<h3>Techniques Used</h3>
	<p>
	<a href="https://en.wikipedia.org/wiki/Natural_language_processing">Natural Language Processing</a>, usually shortened as NLP, is a branch of artificial intelligence that deals with the interaction between computers and humans using the natural language. The ultimate objective of NLP is to read, decipher, understand, and make sense of the human languages in a manner that is valuable.
	</p>

	<p>This project utilizes the <a href="https://scikit-learn.org/stable/modules/preprocessing.html">scikit-learn</a> package to apply preprocessing steps.</p>
	
		<div class="center-b"><img src="static/NLP Process.svg" width="100%"></div>
	<p class="i3">A number of different processes are applied to the text before machine analysis can be applied.</p>
	<br>

	<p>
	<a href="https://en.wikipedia.org/wiki/K-means_clustering">K-means Clustering</a> is a method of vector quantization that aims to partition observations into several clusters in which each observation belongs to the cluster with the nearest mean. For this project, the processed text is analyzed to see how well words associate with other words. The clusters also helped us to analyze the text and find hotels associated to the same.
	</p>

	<p>This project utilizes the <a href="https://scikit-learn.org/stable/modules/clustering.html">scikit-learn</a> package to apply K-means clustering.</p>

		<div class="center-b"><img src="static/clustering example.png" width="80%"></div>	
	<br>
	<p>	After machine clustering has been applied to the aggregated text, the most common words within the clusters were extracted and applied to each hotel review with the intention of capturing overall customer sentiment.</p>
	
	<img src="static/wordcloud.PNG" width="100%">
	<p class="i3">A selection of the most common text pulled from the reviews</p>
	


</section>

<div id="push">
</div>
</div>


</body>
</html>