<html lang="en-us">

<head>
<style>
    html {
        scroll-behavior: smooth;
    }
</style>
    
  <meta charset="UTF-8">
  <title>Project Whine</title>
  <!-- bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>


  <!-- HEADER -->
<div id="container">
	<div id="header-container">
		<section class="header">
			<div class="column">
				<a href="index.html"><img src="static/drawing.svg" width="250px"></a></div>
			<div class="column">
				<h1 class="display-4"> Analyzing the Language of <strike>Wine</strike> <strike>Coffee</strike> <strike>Ramen</strike> Hotel Reviews </h1></div>
				
		</section>
		<section class="header2">
		<h1 class="display-5"><a href="https://techbootcamps.rice.edu/data/">A Rice University Data Analytics & Visualization Project</a></h1>

		</section>
	</div>


  <!-- SIDE MENU -->
<nav class="menu">
	<ul>
		<li><a href="index.html">About This Project</a></li>
		<li><a href="">API</a></li>
		<li><a href="map.html">Map</a></li>
		<li><a href="geography.html">Analysis, Geography</a></li>
		<li><a href="rating.html">Analysis, Ratings</a></li>
		<li><a href="conclusions.html">Conclusions</a></li>		
		<li><a href="source.html">Source</a></li>
							
	</ul>
</nav>


  <!-- BODY TEXT -->

<section class="main">
	<h3>Introduction</h3>
	<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec venenatis dolor. Vestibulum malesuada libero vitae mauris tristique commodo vel in diam. Nunc faucibus tristique erat at maximus. Nam convallis, sapien sit amet venenatis consectetur, nibh ligula convallis diam, in maximus libero neque vitae sapien. In sit amet enim finibus, ornare arcu id, consequat orci. Curabitur convallis efficitur ligula nec blandit. In euismod, tellus quis consequat dictum, lorem mauris consequat ante, eget aliquam orci felis elementum mauris. Curabitur urna est, euismod a nisl et, gravida porttitor risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras ultricies erat mi, ultricies pretium nunc lobortis a. Aenean accumsan iaculis mi, sit amet semper ipsum condimentum id. Pellentesque nec risus eget neque lacinia blandit in maximus dolor.	
	</p>
	<p>
	Sed sit amet dignissim libero. Aenean pellentesque tempor est vitae aliquam. Morbi in eros eget est euismod elementum sed sed arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed scelerisque placerat egestas. Maecenas vitae felis a lorem suscipit bibendum. Fusce ut mi odio. In et maximus est. Donec aliquet bibendum dolor, et dictum nibh. Ut ut accumsan velit. Praesent varius condimentum molestie. Aliquam vel porta nisl, sit amet euismod ante. Praesent metus sem, rhoncus non turpis ut, consectetur rhoncus arcu.
	</p>
	<h3>Title</h3>
	<p>
	Curabitur dictum, sapien ac euismod ultricies, enim ipsum consectetur metus, vel malesuada sem ipsum et odio. Aenean venenatis odio quis augue blandit, ut finibus enim sodales. Vivamus posuere tempor libero suscipit varius. Ut dapibus libero sit amet pulvinar tempor. Donec eget ornare sapien, ac facilisis elit. In congue laoreet ex ac elementum. Praesent eget mauris eget augue tempus tempor id sed sapien. Pellentesque scelerisque sollicitudin massa. Morbi sed mi tellus. Etiam iaculis vel nulla ac elementum. Aenean massa felis, gravida non libero sed, lobortis sodales est. Pellentesque lorem nibh, hendrerit eget tincidunt eget, faucibus a nisl.
	</p>
	
	<h3>Title</h3>
	<p>
	Nullam felis mauris, convallis in augue ut, vehicula suscipit odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam tincidunt nisi sed tincidunt commodo. Sed eget imperdiet nunc. Sed volutpat justo ante, quis accumsan justo pulvinar in. In posuere, libero ac finibus viverra, sem ligula facilisis elit, et rhoncus elit arcu et nisl. Vivamus sed eros vulputate, porttitor felis vitae, tempor felis. Curabitur dignissim non sem at pharetra. In iaculis egestas vehicula.
	</p>

</section>

<div id="push">
</div>
</div>


</body>
</html>