<html lang="en-us">

<head>
<style>
    html {
        scroll-behavior: smooth;
    }
</style>
    
  <meta charset="UTF-8">
  <title>Project Whine</title>
  <!-- bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>


  <!-- HEADER -->
<div id="container">
	<div id="header-container">
		<section class="header">
			<div class="column">
				<a href="index.html"><img src="static/drawing.svg" width="250px"></a></div>
			<div class="column">
				<h1 class="display-4"> Analyzing the Language of <strike>Wine</strike> <strike>Coffee</strike> <strike>Ramen</strike> Hotel Reviews </h1></div>
				
		</section>
		<section class="header2">
		<h1 class="display-5"><a href="https://techbootcamps.rice.edu/data/">A Rice University Data Analytics & Visualization Project</a></h1>

		</section>
	</div>


  <!-- SIDE MENU -->
<nav class="menu">
	<ul>
		<li><a href="index.html">About This Project</a></li>
		<li><a href="">API</a></li>
		<li><a href="map.html">Map</a></li>
		<li><a href="geography.html">Analysis, Geography</a></li>
		<li><a href="rating.html">Analysis, Ratings</a></li>
		<li><a href="conclusions.html">Conclusions</a></li>		
		<li><a href="source.html">Source</a></li>
							
	</ul>
</nav>


  <!-- BODY TEXT -->

<section class="main">

	<div class="center-b">
	<img src="static/tripadvisorlogo.png" width="70%" class="center">
	</div>
	<br>

	<p>
	<a href="https://www.tripadvisor.com/">TripAdvisor</a> is a travel planning website that specializes in hosting extensive information for accomodations and amenities for anyone planning a trip. The site also hosts user-generated reviews for those accomodations, providing reviews and feedback. For this project, hotel reviews were aggregated to provide bulk analysis regarding the language used. The purpose of gathering and analyzing these reviews is to observe any patterns or common sentiments among the language used when examined in aggregate.
	</p>
	<br>
	
	<div class="center-b">
	<img src="static/review example 1.PNG" width="100%" class="center">
	</div>
	<p class="i3">Example of user generated review, along with 1-5 rating</p>
	<br>

	<h3>Techniques Used</h3>
	<p>
	<a href="https://en.wikipedia.org/wiki/Natural_language_processing">Natural Language Processing</a>, usually shortened as NLP, is a branch of artificial intelligence that deals with the interaction between computers and humans using the natural language. The ultimate objective of NLP is to read, decipher, understand, and make sense of the human languages in a manner that is valuable.
	</p>
	
		<div class="center-b"><img src="static/NLP Process.svg" width="100%"></div>
	<p class="i3">A number of different processes are applied to the text before machine analysis can be applied.</p>
	<br>

	<p>
	<a href="https://en.wikipedia.org/wiki/K-means_clustering">K-means Clustering</a> is a method of vector quantization that aims to partition observations into a number of clusters in which each observation belongs to the cluster with the nearest mean. For this project, the processed text is analysed to see how well words associate with other words. 
	</p>
		<div class="center-b"><img src="static/clustering example.png" width="80%"></div>	


</section>

<div id="push">
</div>
</div>


</body>
</html>