<html lang="en-us">

<head>
<style>
    html {
        scroll-behavior: smooth;
    }
</style>
    
  <meta charset="UTF-8">
  <title>Project Whine</title>
  <!-- bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>


  <!-- HEADER -->
<div id="container">
	<div id="header-container">
		<section class="header">
			<div class="column">
				<a href="index.html"><img src="static/drawing.svg" width="250px"></a></div>
			<div class="column">
				<h1 class="display-4"> Analyzing the Language of <strike>Wine</strike> <strike>Coffee</strike> <strike>Ramen</strike> Hotel Reviews </h1></div>
				
		</section>
		<section class="header2">
		<h1 class="display-5"><a href="https://techbootcamps.rice.edu/data/">A Rice University Data Analytics & Visualization Project</a></h1>

		</section>
	</div>


  <!-- SIDE MENU -->
<nav class="menu">
	<ul>
		<li><a href="index.html">About This Project</a></li>
		<li><a href="http://localhost:5000//api/v1.0/reviewsall">API</a></li>
		<li><a href="map.html">Map</a></li>
		<li><a href="geography.html">Analysis, Geography</a></li>
		<li><a href="rating.html">Analysis, Ratings</a></li>
		<li><a href="conclusions.html">Conclusions</a></li>		
		<li><a href="source.html">Source</a></li>
							
	</ul>
</nav>


  <!-- BODY TEXT -->

<section class="main">

<p>The dataset used for this project is located on Kaggle, <a href="https://www.kaggle.com/datafiniti/hotel-reviews?select=Datafiniti_Hotel_Reviews_Jun19.csv">located here</a>.</p>

<p>This dataset consists of 10,000 reviews over 1400 different hotels within the United States. Reviews were taken ranging between years 2014 through May of 2019.</p>

</section>

<div id="push">
</div>
</div>


</body>
</html>